.RowOfSquares {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 3em;
    font-weight: 400;
}

.clicks {
    display: flex;
    gap: 2em;
}

.numClicks {
    /* height: 100px;
    width: 300px; */
    border: 3px solid #ff5757;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barriecito", system-ui;
    font-size: 3em;
    color: #ff5757;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 2em 0;
}

span {
    font-size: 3rem;
}

button {
    width: 200px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 2em 0;
    text-decoration: none;
    font-family: "Barriecito", system-ui;
    font-size: 3em;
    background: #ff5757;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #5ad1a7;

}

button:active {
    transform: scale(0.99);
}