 /* :root {
   font-family: "Barlow", sans-serif;
 } */

 body {
   margin: 0;
 }

 @media screen and (max-height: 884px) {
   .gameBackground {
     width: 100%;
     height: 100%;
     border-radius: 0;
     box-shadow: none;
     margin: 0;
   }
 }

 @media screen and (max-width: 768px) {

   .gameBackground {
     width: 100%;
     height: 100%;
     border-radius: 0;
     box-shadow: none;
     margin: 0;
   }
 }


 @media screen and (max-width: 620px) {
   button {
     font-size: 1.75rem;
     padding: 1rem;
   }

   #numClicks {
     font-size: 1.75rem;
   }

   .clicksDisplay {
     padding: 1rem;
   }

   .clock {
     font-size: 2rem;
   }

   .square {
     height: 80px;
     width: 80px;
   }

   .completedGame {
     width: 350px;
   }

 }

 @media screen and (max-width: 510px) {

   .rowOfSquares {
     gap: .75em;
     margin: .75em
   }

   .square {
     height: 70px;
     width: 70px;
   }

 }

 @media screen and (max-width: 425px) {
   button {
     font-size: 1.5rem;
     padding: 1rem 2rem;
   }

   #numClicks {
     font-size: 1.5rem;
   }

   .clicksDisplay {
     padding: 1rem 2rem;
   }

   .clicksContainer {
     flex-direction: column;
   }

   .square {
     height: 75px;
     width: 60px;
   }

   .rowOfSquares {
     gap: .75em;
   }

   .completedGame {
     width: 300px;
   }

 }

 @media screen and (max-width: 375px) {

   .clicksContainer {
     gap: .5em;
   }

   .rowOfSquares {
     gap: .5em;
     margin: .5em
   }

   .square {
     height: 65px;
     width: 53px;
   }

   .completedGame {
     width: 250px;
   }

 }